@{
    ViewData["Title"] = "Kein Zugriff";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Du hast keinen Zugriff auf die aufgerufene Seite. Sollte dies ein Fehler sein wende dich bitte an deinen Systemadministrator.
</p>