@{
    ViewData["Title"] = "Passwort zurücksetzen";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    Es wurde Ihnen ein E-Mail mit einem Link zum Passwort zurücksetzten zugesendet.
</p>