@{
    ViewData["Title"] = "Dein Account wurde aus Sicherheitsgründen gesperrt.";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Versuche es später nocheinmal oder wende dich bitte an deinen Systemadministrator um den Account wieder freischalten zu lassen.
</p>