@{
    ViewData["Title"] = "Dein Passwort wurde zurückgesetzt.";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Du kannst dich nun mit deinem neuen Passwort <a asp-action="Login">anmelden</a>.
</p>