@model List<esencialAdmin.Models.PdfViewModels.PdfSinglePictureTemplateViewModel>
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

@foreach (var item in Model)
{
    <div class="pictureTemplateContainer">
        <div class="pictureTemplateLogo">
            <img src="~/images/weinetikette_vertical.jpg" />
        </div>
        <div class="pictureTemplateText">
            <span>@item.FirstName</span>
            <span>@item.LastName</span>
            <span>#@item.PlantNr</span>
        </div>
    </div>

}
