@model esencialAdmin.Models.PdfViewModels.PdfCertificateViewModel
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}
<div class="certificat">
    <div class="header">
        <img src="~/images/zertificate_img_header_wine.png" />
        <div class="title">
            <h1>ZERTIFIKAT</h1>
            <h6>über den Besitz einer Weinrebe der Sorte Mencia<br />im D.O. Bierzo (Léon), Spanien</h6>
            <br />
            <span class="for">für</span>
            <h3>@Model.Customer</h3>
            <span>NR. @Model.PlantNumber</span>
        </div>
        <img src="~/images/zertificate_img_header_wine.png" />
    </div>

    <div class="content">
        <div class="imgcontainer">
            <img src="~/images/zertificate_img_wine.jpg" />

        </div>

        <p>
            Mit diesem Zertifikat werden Sie für drei Jahre Besitzer/Pate Ihrer persönlichen Mencia-Rebpflanzen auf der Finca esencial in Villafranca del Bierzo, León, Spanien. Mit Ihrem Besitztum tragen Sie dazu bei, dass integrierte Land- und Weinwirtschaft gepflegt wird und dass dieser Naturflecken so erhalten bleibt und weiterentwickelt wird.
            <br /><br />
            Hier sind die genauen Koordinaten Ihrer Weinrebe:

        </p>
        <div class="logo"><img src="~/images/logo_black.png" /></div>
        <table>
            <tr>
                <td><strong>Land:</strong></td>
                <td>Spanien</td>
                <td><strong>Adresse:</strong></td>
            </tr>
            <tr>
                <td><strong>Provinz:</strong></td>
                <td>Castilla y León</td>
                <td>Finca esencial</td>
            </tr>
            <tr>
                <td><strong>Google Earth:</strong></td>
                <td>42°36’17.99‘‘N /6°47’42.35W</td>
                <td>Camino de la Virgen</td>
            </tr>
            <tr>
                <td><strong>Höhe:</strong></td>
                <td>583m</td>
                <td>Villafranca del Bierzo</td>
            </tr>
        </table>
        <br />
        <p class="small">
            Patenschaft endet mit dem Erntedankfest im Dezember @Model.LastYear<br />Bitte beachten Sie die Anlage zum Zertifikat
        </p>
    </div>
    <div class="footer">
        <span>
            CASCADA Hotel ∙ BOLERO Restaurante<br />
            Bundesplatz 18 ∙ CH-6003 Luzern<br />
            Tel: +41 41 226 80 88 ∙ Fax: +41 41 226 80 00<br />
            info@cascada.ch ∙ www.cascada.ch
        </span>
    </div>

</div>