@model esencialAdmin.Models.EmployeeViewModels.EmployeeCreateViewModel
@{
    ViewData["Title"] = "Neuer Mitarbeiter erfassen";
    ViewData["EmployeeName"] = "Neuer Mitarbeiter";
}

<form method="post" asp-controller="Employee" class="grid mui-form">
    <div class="row  row-equal">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <div class="grid">
                    <div class="row row-space-between">
                        <div class="col-6 col-medium-6 col-small-12">
                            <div class="mui--text-headline">
                                Mitarbeiter: @ViewData["EmployeeName"]
                            </div>
                        </div>
                        <div class="col-6 col-medium-6 col-small-1 mui--text-right">
                            <button type="submit" class="mui-btn mui-btn--primary">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  row-equal">
        <div class="col-8  col-medium-8 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">Daten</div>
                <div class="grid">
                    <div class="row">

                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="FirstName" />
                                <label asp-for="FirstName"></label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="LastName" />
                                <label asp-for="LastName"></label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="Email" required/>
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-select">
                                @{ 
                                    var selectList = new List<SelectListItem>();
                                    foreach(var tmp in Model.EmployeeRoles)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = tmp.Role;
                                        item.Text = tmp.Role;
                                        if(tmp.Role == "Mitarbeiter")
                                        {
                                            item.Selected = true;
                                        }

                                        selectList.Add(item);
                                    }
                                }

                                <select asp-for="Role" id="RoleSelect" asp-items="selectList">
                                </select>
                                <label asp-for="Role"></label>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="Password" required/>
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="ConfirmPassword" required />
                                <label asp-for="ConfirmPassword"></label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
