@model esencialAdmin.Models.SubscriptionViewModels.SubscriptionCreateViewModel

@{
    ViewData["Title"] = "Neue Patenschaft erfassen";
    ViewData["PlanName"] = "Neue Patenschaft";
}


<form method="post" asp-controller="Plan" class="grid mui-form">
    <div class="row  row-equal">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <div class="grid">
                    <div class="row row-space-between">
                        <div class="col-6 col-medium-6 col-small-12">
                            <div class="mui--text-headline">
                                Patenschaft: @ViewData["PlanName"]
                            </div>
                        </div>
                        <div class="col-6 col-medium-6 col-small-1 mui--text-right">
                            <button type="submit" class="mui-btn mui-btn--primary">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  row-equal">
        <div class="col-8  col-medium-8 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">Kunde Auswahl</div>
                <div class="grid">
                    <div class="row">
                        <div class="col-6 col-medium-12 col-small-12">

                                <label for="customersSelect">Kunde auswählen</label>
                                <select id="customersSelect" style="width:100%!important"></select>
                            </div>
                        <div class="col-6 hide-medium hide-small">
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="Customer.FirstName" />
                                <label asp-for="Customer.FirstName"></label>
                                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-select">
                                @*@{
                                    var selectList = new List<SelectListItem>();
                                    foreach (var tmp in Model.Goodies)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = tmp.Id.ToString();
                                        item.Text = tmp.Name;

                                        selectList.Add(item);
                                    }
                                    selectList.FirstOrDefault().Selected = true;
                                }

                                <select asp-for="GoodyID" id="TemplateSelect" asp-items="selectList"></select>
                                <label asp-for="GoodyID"></label>
                                <span asp-validation-for="GoodyID" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                              
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="Deadline" />
                                <label asp-for="Deadline"></label>
                                <span asp-validation-for="Deadline" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4  col-medium-4 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">
                    Status
                </div>

              
            </div>

        </div>
    </div>
</form>
<environment include="Development,Preview">
    @section scripts {
        <script src="~/lib/select2/dist/js/select2.full.js" asp-append-version="true"></script>
        <script src="~/lib/select2/dist/js/i18n/de.js" asp-append-version="true"></script>
        <script src="~/js/subscriptioncreation.js" asp-append-version="true"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")


    }

    @section styles {
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
    }
</environment>