@model esencialAdmin.Models.SubscriptionViewModels.SubscriptionCreateViewModel

@{
    ViewData["Title"] = "Neue Patenschaft erfassen";
    ViewData["PlanName"] = "Neue Patenschaft";
}


<form method="post" asp-controller="Plan" class="grid mui-form">
    <div class="row  row-equal">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <div class="grid">
                    <div class="row row-space-between">
                        <div class="col-6 col-medium-6 col-small-12">
                            <div class="mui--text-headline">
                                Patenschaft: @ViewData["PlanName"]
                            </div>
                        </div>
                        <div class="col-6 col-medium-6 col-small-1 mui--text-right">
                            <button type="submit" class="mui-btn mui-btn--primary">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  row-equal">
        <div class="col-8  col-medium-8 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">Basis Daten</div>
                <div class="grid">
                    <div class="row">
                        <div class="col-6 col-medium-12 col-small-12">
                            <label>@Html.DisplayNameFor(model => model.CustomerID)</label>
                            <select asp-for="CustomerID" id="customersSelect" style="width:100%!important" required></select>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <label>@Html.DisplayNameFor(model => model.PlanID)</label>
                            <label asp-for="PlanID" />
                            <select asp-for="PlanID" id="planSelect" style="width:100%!important" required></select>
                        </div>

                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="PlantNumber" required />
                                <label asp-for="PlantNumber"></label>
                                <span asp-validation-for="PlantNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="StartDate" type="date" required/>
                                <label asp-for="StartDate"></label>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4  col-medium-4 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">
                    Zusätzliche Daten
                </div>
                <div class="grid">
                    <div class="row">

                        <div class="col-12 col-medium-12 col-small-12">
                            <div class="mui-checkbox">
                                <label>
                                    <input asp-for="Payed" id="payedCheckbox"/> bezahlt?
                                </label>
                                <span asp-validation-for="Payed" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-medium-12 col-small-12" id="paymentMethodContainer" style="display:none">
                            <div class="mui-select">
                                @{
                                    var selectList = new List<SelectListItem>();
                                    foreach (var tmp in Model.PaymentMethods)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = tmp.Name;
                                        item.Text = tmp.Name;
                                        if (tmp.Name == "Barzahlung")
                                        {
                                            item.Selected = true;
                                        }

                                        selectList.Add(item);
                                    }
                                }

                                <select asp-for="PaymentMethodID" id="PaymentMethodSelect" asp-items="selectList" required></select>
                                <label asp-for="PaymentMethodID"></label>
                                <span asp-validation-for="PaymentMethodID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-medium-12 col-small-12">
                            <label>@Html.DisplayNameFor(model => model.GiverCustomerId)</label>
                            <label asp-for="GiverCustomerId" />
                            <select asp-for="GiverCustomerId" id="giverSelect" style="width:100%!important"></select>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>
<environment include="Development,Preview">
    @section scripts {
        <script src="~/lib/select2/dist/js/select2.full.js" asp-append-version="true"></script>
        <script src="~/lib/select2/dist/js/i18n/de.js" asp-append-version="true"></script>
        <script src="~/js/subscriptioncreation.js" asp-append-version="true"></script>

    }

    @section styles {
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
    }
</environment>