@model esencialAdmin.Models.SubscriptionViewModels.SubscriptionIndexViewModel

@{
    ViewData["Title"] = "Patenschaften Übersicht";
}
<form asp-controller="Pdf" method="post">

    <div class="col-12 col-medium-12 col-small-12">
        <div class="grid">
            <div class="row row-space-between overview-header-row">

                <div class="col-6 col-medium-6 col-small-12 subscriptionHeader">
                    <h2>Patenschaften</h2>

                    <div class="mui-select">
                        @{

                            var selectPlanList = new List<SelectListItem>();
                            foreach (var tmp in Model.Plans)
                            {
                                SelectListItem item = new SelectListItem();
                                item.Value = tmp.Id.ToString();
                                item.Text = tmp.Name;

                                selectPlanList.Add(item);
                            }
                        }

                        <select asp-for="planID" id="PlanMethodSelect" multiple="multiple" size="1" asp-items="selectPlanList">
                            <option value="0" selected>Alle</option>
                        </select>
                        <label asp-for="Plans"></label>
                        <br />
                    </div>

                    <div class="mui-select">
                        @{

                            var selectStatusList = new List<SelectListItem>();
                            foreach (var tmp in Model.Status)
                            {
                                SelectListItem item = new SelectListItem();
                                item.Value = tmp.Id.ToString();
                                item.Text = tmp.Name;

                                selectStatusList.Add(item);
                            }
                        }

                        <select asp-for="statusID" id="StatusMethodSelect" asp-items="selectStatusList">
                            <option value="0" selected>Alle</option>
                        </select>
                        <label asp-for="Status"></label>
                        <br />

                    </div>
                    @*<div>
                        <label asp-for="@Model.Goody"></label>:

                        <label>
                            <input type="checkbox" id="goodyCheckbox" value="@Model.Goody" asp-for="@Model.Goody">
                        </label>
                    </div>*@
                </div>

                <div class="col col-medium-6 col-small-1 mui--text-right">
                    <button type="submit" asp-area="" asp-controller="Pdf" asp-action="PrintPictureTemplate" class="mui-btn mui-btn--primary">A5 export</button>
                    <button type="submit" asp-area="" asp-controller="Pdf" asp-action="PrintAdressLabels" class="mui-btn mui-btn--primary">Adressen export</button>
                    <button type="submit" asp-area="" asp-controller="Pdf" asp-action="PrintBottleLabels" class="mui-btn mui-btn--primary">Etiketten export</button>
                    <a asp-area="" asp-controller="Subscription" asp-action="Create" class="mui-btn mui-btn--primary">Neue Patenschaft erstellen</a>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="grid mui-form">
    <div class="row">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <table id="subscriptionTable" class="mui-table mui-table--bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>RebstockNr</th>
                            <th>Kunde</th>
                            <th>Patenschaft</th>
                            <th>Laufzeit</th>
                            <th>Bezahlt</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<environment include="Development,Preview,Production">
    @section scripts {
        <script src="~/lib/sweetalert2/sweetalert2.js" asp-append-version="true"></script>
        <script src="~/lib/DataTables/datatables.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-contextMenu/dist/jquery.contextMenu.js" asp-append-version="true"></script>
        <script src="~/js/subscriptionDatatable.js" asp-append-version="true"></script>
    }
    @section styles {
        <link rel="stylesheet" href="~/lib/jquery-contextMenu/dist/jquery.contextMenu.css" />
        <link rel="stylesheet" href="~/lib/DataTables/datatables.css" />
        <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    }
</environment>

