@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Es ist ein Fehler aufgetreten. Überprüfen Sie ihre Eingaben und versuchen Sie es nocheinmal. Sollte das Problem bestehen, wenden Sie sich an Ihren Administrator</h2>
