@using essentialAdmin.Extensions
@{

    var errorList = NotificationExtensions.GetNotifications(this.ViewContext, NotificationType.ERROR);
    var warningList = NotificationExtensions.GetNotifications(this.ViewContext, NotificationType.WARNING);
    var successList = NotificationExtensions.GetNotifications(this.ViewContext, NotificationType.SUCCESS);
    var infoList = NotificationExtensions.GetNotifications(this.ViewContext, NotificationType.INFO);
}
<div class="top-notif-holder">
    <!-- display errors -->
    @if (errorList != null)
    {
        @foreach (String message in errorList)
        {
            <div class="mui-panel notif-error notif-dismissable">
                <h3>Fehler:</h3>

                <button type="button" class="mui-btn mui-btn--small mui-btn--flat notif-close-button" data-dismiss="alert" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
                <span>@Html.Raw(message)</span>
            </div>
        }
    }
    <!-- display warnings -->
    @if (warningList != null)
    {
        @foreach (String message in warningList)
        {
            <div class="mui-panel notif-warning notif-dismissable">
                <h3>Warnung:</h3>

                <button type="button" class="mui-btn mui-btn--small mui-btn--flat notif-close-button" data-dismiss="alert" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
                <span>@Html.Raw(message)</span>
            </div>
        }
    }
    <!-- display success -->
    @if (successList != null)
    {
        @foreach (String message in successList)
        {
            <div class="mui-panel notif-success notif-dismissable">
                <h3>Hinweis:</h3>

                <button type="button" class="mui-btn mui-btn--small mui-btn--flat notif-close-button" data-dismiss="alert" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
                <span>@Html.Raw(message)</span>
            </div>
        }
    }
</div>