@import "pdffonts.css";

body {
    width: 100%;
}

table {
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
    box-sizing: border-box;
    table-layout: fixed;
}

td.labelCell {
    /*border: 1px solid #000;*/
    padding: 0;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 14px;
    page-break-before: always !important;
    page-break-inside: avoid !important;
    text-align: center;
}

td.adressCell {
    /*border: 1px solid #000;*/
    padding: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    page-break-before: always !important;
    page-break-inside: avoid !important;
    text-align: center;
}

    td.adressCell span {
        text-align: left !important;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: auto;
    }


tr {
    page-break-before: always !important;
    page-break-inside: avoid !important;
}



.labelCell img {
    width: 150px;
    height: auto;
}

.labelCell span {
    font-size: 16px;
    font-family: Arial;
    width: 100%;
    padding-bottom: 8px;
    display: inline-block;
    letter-spacing: 1.4px;
}


.certificat .header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
}

    .certificat .header img {
        float: left;
        width: 22%;
        height: auto;
    }

    .certificat .header .title {
        float: left;
        width: 56%;
        padding-top: 66px;
    }


.certificat h1 {
    font-family: 'Perpetua Tiling MT';
    color: #952b27;
    font-size: 66px;
    font-weight: 550;
    padding-bottom: 31px;
}

.certificat h6 {
    font-family: Arial;
    color: #952b27;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}


.certificat .header span {
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 500;
}

.certificat h3 {
    font-family: 'Arial';
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 28px;
}

.certificat {
    font-family: Arial;
}

    .certificat .content {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

.imgcontainer {
    text-align: center;
    margin-bottom: 25px;
}

    .imgcontainer img {
        max-width: 67%;
    }

.certificat p {
    font-family: Arial;
    line-height: 1.6;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

    .certificat p.small {
        font-size: 16px;
        line-height: unset;
    }


.certificat .logo {
    float: right;
    display: inline-block;
    width: 100%;
    height: 5px;
    position: relative;
}

    .certificat .logo img {
        position: absolute;
        width: 95px;
        right: 48px;
        top: -15px;
    }

.certificat table {
    width: 100%;
    font-size: 18px;
}

    .certificat table tr td:first-child {
        width: 135px;
    }

    .certificat table tr td:nth-child(2) {
        width: 320px;
    }

.certificat .footer {
    text-align: center;
    font-size: 11px;
    margin-top: 55px;
    font-weight: 400;
}


.pictureTemplateContainer {
    width: 100%;
    height: 100%;
    page-break-before: always !important;
    page-break-inside: avoid !important;
    display: inline-block;
    height: 650px;
    position: relative;
}

.pictureTemplateLogo {
    float: left;
    width: 35%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

    .pictureTemplateLogo img {
        height: 320px;
        margin-top: 160px;
        margin-left: 30px;
    }

.pictureTemplateText {
    float: right;
    width: 65%;
    height: 100%;
    display: inline-block;
    padding-top: 50px;
}

    .pictureTemplateText span {
        width: 100%;
        font-size: 110px;
        font-weight: 500;
        display: block;
        line-height: 1.5;
        letter-spacing: 1.3px;
        font-family: Calibri;
    }
