body {
    width: 100%;

}

.adressContainer {
    float: left;
    width: 33%;
    border: 1px solid #000;
    height: 130px;
    padding: 10px;
    display: inline-block;
    page-break-before: always !important;
    page-break-inside: avoid;
    box-sizing:border-box;
}