html,
body {
    height: 100%;
    background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


.mui-textfield > .input-validation-error {
    border-color: #F44336 !important;
    border-width: 2px;
}

.mui-textfield > input.input-validation-error ~ label, .mui-textfield > textarea.input-validation-error ~ label {
    color: #F44336 !important;
}

.text-danger.field-validation-error {
    color: #F44336 !important;
    padding-top: 5px;
    display: inline-block;
}
/**
 * Layout CSS
 */
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 220px;
    left: -220px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    transition: margin-left 0.2s;
    /* sticky bottom */
    box-sizing: border-box;
    margin-bottom: -160px;
    padding-bottom: 160px;
}

#footer {
    box-sizing: border-box;
    height: 160px;
    margin-left: 0px;
    transition: margin-left 0.2s;
}

.mui-appbar {
    background-color: #3e2e28;
}


.appbar-title {
    font-size: 20px;
    color: #fff;
}


/*
    Slick
*/

.slick-next {
    float: right;
}

.slick-arrow .material-icons {
    vertical-align: middle;
}
/**
 * Toggle Sidedrawer
 */
.navbar-item {
    outline: none;
}


#sidedrawer.active {
    transform: translate(220px);
}

/**
 * Sidedrawer Account
 */
#sidedrawer.active {
    transform: translate(220px);
}

#sidedrawer-account {
    text-align: center;
    padding-bottom: 10px;
}

    #sidedrawer-account .sidebar-profilename {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 8px;
    }

    #sidedrawer-account .sidebar-icon-button {
        width: 35px;
        height: 35px;
        outline: none;
        background-color: transparent;
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

        #sidedrawer-account .sidebar-icon-button:hover {
            border: 1px solid #78909C;
        }


        #sidedrawer-account .sidebar-icon-button i {
            font-size: 26px;
            line-height: 35px;
        }
/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

    .sidedrawer-toggle:hover {
        color: #fff;
        text-decoration: none;
    }


.overview-header-row h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.subscriptionHeader > div, .subscriptionHeader > h2 {
    float: left;
    margin-right: 15px;
}
/**
 * Sidedrawer CSS
 */
#sidedrawer-brand img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-left: -10px;
}

#sidedrawer-brand a {
    height: 66px;
    width: auto;
    display: block;
    text-align: center;
}


#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0px;
}

    #sidedrawer > ul > li:first-child {
        padding-top: 15px;
    }


#sidedrawer .nav-title {
    padding: 15px 22px;
    font-weight: bolder;
    font-size: 18px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

    #sidedrawer strong:hover {
        background-color: #E0E0E0;
    }

    #sidedrawer strong + ul > li {
        padding: 6px 0px;
    }

#sidedrawer a {
    color: rgba(0,0,0,.87);
}
/**
 * Footer CSS
 */
#footer {
    background-color: #3e2e28;
    color: #fff;
}

    #footer a {
        color: #fff;
        text-decoration: underline;
    }


.content-container {
    padding: 15px;
}

.mui--form-title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    color: rgba(0,0,0,.87);
    line-height: inherit;
    border: 0;
}
/**
* Datatable
*/

table.dataTable tbody th, table.dataTable tbody td {
    outline: none;
}


.dataTable tbody tr:hover {
    background-color: #c1d5e0;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}

    .dataTables_wrapper .dataTables_filter input[type=search]:focus {
        border-color: #2196F3;
        border-width: 2px;
    }

.dataTables_wrapper .dataTables_length select {
    outline: none;
}

table.dataTable thead th, table.dataTable thead td {
    padding-left: 8px !important;
}

/* Info Panel**/
.mui-panel.panel-warning {
    background-color: #F4511E;
    color: #fff;
    font-size: 17px;
}

    .mui-panel.panel-warning p {
        margin-bottom: 0;
    }
/**
* Notify
*/
.top-notif-holder {
    position: absolute;
    top: 24px;
    right: 24px;
}

    .top-notif-holder .mui-panel {
        width: 300px;
        position: relative;
        transition: .3s;
        margin-bottom: 0 !important;
    }

        .top-notif-holder .mui-panel.notif-error {
            background-color: #E53935;
            color: #fff;
        }

        .top-notif-holder .mui-panel.notif-warning {
            background-color: #F4511E;
            color: #fff;
        }

        .top-notif-holder .mui-panel.notif-success {
            background-color: #43A047;
            color: #fff;
        }



    .top-notif-holder .mui-btn--flat.notif-close-button {
        width: 32px;
        height: 32px;
        line-height: 32px;
        padding: 0;
        border-radius: 45px;
        margin: 0;
        position: absolute;
        right: 6px;
        top: 6px;
        color: #fff;
    }

        .top-notif-holder .mui-btn--flat.notif-close-button:hover {
            background-color: rgba(0,0,0,0.1);
        }

    .top-notif-holder .notif-close-button > i {
        line-height: unset;
    }

    .top-notif-holder h3 {
        margin-top: 0;
        font-size: 18px;
    }

    .top-notif-holder .mui-panel {
        -moz-animation: cssHideAnimation 0s ease-in 10s forwards;
        /* Firefox */
        -webkit-animation: cssHideAnimation 0s ease-in 10s forwards;
        /* Safari and Chrome */
        -o-animation: cssHideAnimation 0s ease-in 10s forwards;
        /* Opera */
        animation: cssHideAnimation 0s ease-in 10s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

@keyframes cssHideAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

@-webkit-keyframes cssHideAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}


.loginTemplate {
    background-image: url(/images/vinbackground.jpg);
    background-position: center;
}

    .loginTemplate main.mui-panel {
        margin-top: 10%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

.enviromentVersion {
    float: right;
}

.previewPhotoContainer .remove-photo-fab {
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-photo-fab .material-icons {
    line-height: 35px;
}

.previewPhotoContainer .download-photo-fab {
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.download-photo-fab .material-icons {
    line-height: 35px;
}

.previewPhotoContainer {
    position: relative;
    padding: 7px;
    width: auto;
    display: inline-block;
}

.col-thumbImages {
    min-width: 220px;
    float: left;
}

.mui-form fieldset, .periode-container {
    outline: none !important;
    margin-bottom: 0;
}

/*******SELECT 2*******/
/**
 * Multiple Select2
 */
.mui-select__menu {
    position: static;
}



.select2-container--material {
    width: 100% !important;
    /**
   * Textbox
   */
    /**
   * Dropdown
   */
    /**
   * Options
   */
    /**
   * Focused textbox
   */
    /**
   * Disabled textbox
   */
}

    .select2-container--material ::-webkit-input-placeholder {
        color: inherit;
    }

    .select2-container--material ::-moz-placeholder {
        color: inherit;
    }

    .select2-container--material :-ms-input-placeholder {
        color: inherit;
    }

    .select2-container--material ::placeholder {
        color: inherit;
    }

    .select2-container--material .select2-selection {
        /* @extend input */
        overflow: visible;
        font: inherit;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        margin: 0;
        line-height: inherit;
        border-radius: 0;
        box-sizing: inherit;
        /* @extend .form-control */
        display: block;
        width: 100%;
        color: #55595c;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: .5rem 0 .6rem;
        font-size: 16px;
        line-height: 1.5;
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        margin-top: .2rem;
        margin-bottom: 1rem;
        /* @extend input[type=text] */
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        outline: 0;
        width: 100%;
        font-size: 16px;
        box-shadow: none;
        -webkit-transition: all .3s;
        transition: all .3s;
        min-height: 2.1rem;
    }

        .select2-container--material .select2-selection .select2-selection__rendered {
            padding-left: 0;
        }

    .select2-container--material .select2-selection--single .select2-selection__rendered {
        float: left;
        padding-left: 0 !important;
    }

    .select2-container--material .select2-selection--single .select2-selection__arrow {
        float: right;
    }

    /*.select2-container--material .select2-selection--multiple {
        /**
   * Multiple selected options
   */
    /**
   * Multiple selected option clear button
   
    }*/

    .select2-container--material .select2-selection--multiple .select2-selection__rendered {
        width: 100%;
    }

        .select2-container--material .select2-selection--multiple .select2-selection__rendered li {
            list-style: none;
        }

    .select2-container--material .select2-selection--multiple .select2-selection__choice {
        /* @extend .mdl-chip */
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        border: 0;
        border-radius: 16px;
        background-color: #dedede;
        display: inline-block;
        color: rgba(0, 0, 0, 0.87);
        margin: 2px 0;
        font-size: 0;
        white-space: nowrap;
        /* @extend .mdl-chip__text */
        font-size: 16px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 4px;
    }

    .select2-container--material .select2-selection--multiple .select2-selection__choice__remove {
        /* Hide default content */
        font-size: 0;
        opacity: 0.38;
        cursor: pointer;
        float: right;
        margin-top: 4px;
        margin-right: -6px;
        margin-left: 6px;
        -webkit-transition: opacity;
        transition: opacity;
    }

        .select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before {
            content: "cancel";
            /* @extend .material-icons */
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            color: #000;
        }

        .select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover {
            opacity: 0.54;
        }

.select2-search.select2-search--dropdown {
    margin-top: -40px !important;
    background-color: #fff;
}


.select2-container--material .select2-search--inline .select2-search__field {
    width: 100%;
    /* Match input[type=text] */
    height: 34px;
    line-height: 1;
    outline: none;
}

.select2-container--material .select2-dropdown {
    border: 0;
}

    .select2-container--material .select2-dropdown .select2-search__field {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
        outline: none;
        width: 100%;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
        font-size: 16px;
        font-family: inherit;
        line-height: inherit;
        background-image: none;
        outline: none;
        height: 32px;
    }

        .select2-container--material .select2-dropdown .select2-search__field:focus {
            border-bottom: 1px solid #4285f4;
            box-shadow: 0 1px 0 0 #4585f4;
        }

.select2-container--material .select2-results__options {
    /* @extend .zf-shadow-depth* */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* @extend .dropdown-content */
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 350px;
    overflow-y: auto;
    z-index: 999;
    will-change: width,height;
    /* @extend .dropdown-content inline styles */
}

.select2-container--material .select2-results__option {
    /* @extend .dropdown-content li */
    cursor: pointer;
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5rem;
    text-align: left;
    text-transform: none;
    /* @extend .dropdown-content li>a, .dropdown-content li>span */
    font-size: 16px;
    display: block;
    padding: 1rem;
    /**
   * Disabled options
   */
    /**
   * Selected option
   */
    /**
   * Active/hovered option
   */
}

    .select2-container--material .select2-results__option[aria-disabled=true] {
        /* @extend .select-dropdown li.disabled */
        color: rgba(0, 0, 0, 0.3);
        background-color: transparent !important;
        cursor: context-menu;
        /* @extend .disabled */
        cursor: not-allowed;
    }

    .select2-container--material .select2-results__option[aria-selected=true] {
        /* @extend .dropdown-content li:active, .dropdow-content li:hover */
        color: #4285f4;
        background-color: #eee;
    }

.select2-container--material .select2-results__option--highlighted[aria-selected] {
    background-color: #ddd;
}

.select2-container--material.select2-container--focus .select2-selection {
    /* @extend input[type=text]:focus */
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4585f4;
}

.select2-container--material.select2-container--disabled .select2-selection {
    /* @extend .select-wrapper input.select-dropdown:disabled */
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.select2-container--material.select2-container--disabled.select2-container--focus .select2-selection {
    box-shadow: none;
}


.select2-container .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container .select2-selection--single {
    height: 32px !important;
}
