@model ChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mui-textfield">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" required />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="mui-textfield">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mui-textfield">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="mui-btn mui-btn--primary">Passwort ändern</button>
        }

