@model IndexViewModel

@{
    ViewData["Title"] = "Dein Account";
}

<div class="row  row-equal">
    <div class="col-6 col-medium-6 col-small-12">
        <div class="mui-panel">
            @await Html.PartialAsync("_EmployeeAccount",Model.employeeAccountViewModel)
        </div>
    </div>
    <div class="col-6 col-medium-6 col-small-12">
        <div class="mui-panel">
            @await Html.PartialAsync("_ChangePassword", Model.changePasswordViewModel)
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
